@import "../../styles/variables";

.aside-panel {
  background-color: $grayish-navy;
}

.fade {
  transition: visibility 3s;
}

@media only screen and (min-width: 768px) {
  .aside-panel {
    min-height: 100%;
  }
}
