@import "../../styles/variables";

.aside-panel {
  background-color: $grayish-navy;
  /* background-image: url('../../../../assets/images/Cloud-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; */

  /* background-image: url('../../../../assets/images/Cloud-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten; */
}

.fade {
  transition: visibility 3s;
}

@media only screen and (min-width: 768px) {
  .aside-panel {
    min-height: 100%;
  }
}
